.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #222;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #0070f3;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

h2 {
  margin-top: 40px;
  font-size: 2rem;
  color: #0070f3;
}

.skillsList {
  list-style-type: disc;
  padding-left: 20px;
  font-size: 1.1rem;
}
